tp1_emails/emails.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://ejemplo.com/correos"
  xmlns:tns="http://ejemplo.com/correos"
  elementFormDefault="qualified">
  <xs:element name="emails">
    <xs:element name="email" maxOccurs="unbounded">
      <xs:complexType>
        <xs:sequence>
          <xs:element name="date" type="xs:date"/>
          <xs:element name="header">
            <xs:complexType>
              <xs:element name="from">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="address">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:pattern value="[-a-zA-Z0-9_]+@((gmail|hotmail)\.com)|(itba.edu.ar)"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="to">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string"/>
                          <xs:element name="surname" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="subject" type="xs:string" maxOccurs="256">
                      <xs:simpleType>
                        <xs:maxLength value="256"/>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="body" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
    </xs:element>
  </xs:element>
</xs:schema>
