tp1_emails/emails.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://ejemplo.com/correos"
  xmlns:tns="http://ejemplo.com/correos"
  elementFormDefault="qualified">
  <xsd:element name="emails">
    <xsd:element name="email" maxOccurs="unbounded">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element name="date" type="xsd:date"/>
          <xsd:element name="header">
            <xsd:complexType>
              <xsd:element name="from">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="name" type="xsd:string"/>
                    <xsd:element name="address">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:pattern value="[-a-zA-Z0-9_]+@((gmail|hotmail)\.com)|(itba.edu.ar)"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="to">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="name" type="xsd:string"/>
                          <xsd:element name="surname" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="subject" type="xsd:string" maxOccurs="256">
                      <xsd:simpleType>
                        <xsd:maxLength value="256"/>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="body" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
  </xsd:element>
</xsd:schema>
